body {
  background-color: rgb(197, 188, 188);
}
textarea {
  width: 500px;
  height: 150px;
}
.counter_wrapper {
  text-align: center;
}

.counter_wrapper {
  background: darkslategray;
  margin: 20px 20rem 20px 20rem;
  border-radius: 15px;
  color: aliceblue;
}
.result_wrapper {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.text_wrapper {
  background-color: rgb(40, 126, 126);
  border-radius: 20px;
}
.word_wrapper {
  background-color: rgb(40, 126, 126);
  padding: 2rem 2rem;
  border-radius: 20px;
}
.character_wrapper {
  background-color: rgb(40, 126, 126);
  padding: 2rem 2rem;
  border-radius: 20px;
}
